DRY_RUN=TRUE
CONNECTION_TIMEOUT=10

PRESENTATION_CONNECTION_STRING=postgresql://<user>:<password>@<IP address>:<port>/<database>
PROTAGONIST_CONNECTION_STRING=postgresql://<user>:<password>@<IP address>:<port>/<database>